<!DOCTYPE html>

<html>
<div id = "big_wrapper" class="center">

<header>
  <img src="assets/avha.jpg">
  <h2>MAKWARELA AVHATAKALI</h2>
  <h2>Software Developer Trainee</h2>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>

<body>
<div class="clearfix">

    <header>
   </header> 
  <article class = "article1">
                <h3>PERSONAL PROFILE</h3>
                <hr> <br>
                <li>880204 6260 080</li>
                <li>South African</li>
                <li></li>
          <br>
              <h3>CONTACT</h3> 
              <hr> <br>
                <li><i class="fa fa-map-marker"> 391 A Malope Street Meadowlands Zone 7 <br> Johannesburg 1852</i></li>
                <li><i class="fa fa-phone">+2778 5608 179</i></li>
                <li><i class="fa fa-envelope"> avhatakali@gmail.com</i></li>
                
                
          <br>
              <h3>EDUCATION</h3> 
              <hr> <br>

                <li>Ligege Secondary School</li>
                <li>Grade 12</li>
          <br>
                <li>University of Venda</li>
                <li>Bachelor of Science in Computer Science and Informaion <br> Systems</li>
          <br>
                <h3>REFERENCE</h3>
              <hr> <br>
                <li>Mr Makwarela R</li>
                <li>R.G.T Business, Manager</li>
                <li><i class="fa fa-phone"> +2776 3099 830</i></li>
                <li><i class="fa fa-envelope"> rolivhuwamakwarela@gmail.com</i></li>
          <br>
          <hr> <br>
          <li>Mr Tinga Zakhele</li>
          <li>CodeTribe Academy, Facilitator </li>
          <li><i class="fa fa-envelope"> Zakhele@mlab.co.za</i></li>
          <br>
  </article>
        
  <article class = "article2">
        <br>
            <h3>SKILLS</h3>
            <hr> <br>
              <ul>
                <h4>Personal Skills</h4>
                <li>Skill in report writing</li>
                <li>Advanced computer literacy (MS Word, MS Excel and MS PowerPoint)</li>
                <li> Good Communication Skills (verbal & written)</li>
                <li>Problem solving skills and Time management skills</li>
                <li>Organizing and planning skills</li>
        <br>       
              <h4>Technical skills</h4> 
                <li>Programming skills (HTML, CSS, C++, SQL, Java & JavaScript)</li>
                <li>Customer services orientation skills</li>
                <li>Analytical and innovative thinking </li>
                <li>Ability to Work Independently and Within Groups</li> 
            </ul>
        <br>
            <h3>WORK EXPERINCE</h3>
            <hr> <br>
              <h5>R.G.T Business, IT Technician Assistance</h5> 
              <p>Feb 2016-FEb 2018</p>
              <ul>
                <li>Configure installation</li>
                <li>Laptop repair</li>
                <li>Computer Networking</li>
              </ul> 
        <br> 
              <h5>Code Tribe</h5> 
              <p>May 2018 to present</p>
            <ul> 
              <li>Software Developer Trainee <br>
                <p>'Topic covered'</p>

                  <ul> 
                    <li> Angular</li>
                    <li>HTML & CSS</li>
                    <li>TypeScript</li>
                    <li>IONIC</li>
                  </ul>
              
              </li>
            </ul> 
              
  </article>         
</div> 
<footer>
    copywrite 2018. 
 </footer>

</body>
</div>
</html>